
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delete</title>
</head>
<body>
    <h1>Delete page</h1>
</body>
<footer>
    this is footer in end page
</footer>
</html>
